body {
    margin: 0;
    padding: 0;

}

.tableContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    height: 45rem;
    border: 2px solid;
    margin-top: 10rem;
}

.chooseSetup,
.playerOption,
.giveUp {
    display: flex;
    justify-content: center;

}


h1 {
    text-align: center;
}

tr {

    border: 1px solid;
}

#usermessage {
    text-align: center;
}

#backInMenu {
    display: none
}

td {
    border-radius: 100%;
    border: 1px solid;
    height: 7rem;
    width: 7rem;
}

td[data-color="red"] {
    background: red
}

td[data-color="yellow"] {
    background: yellow
}

td[data-winner="true"] {
    background: gold
}

.stateOfGame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    flex-direction: column;
}
